@font-face {
    font-family: "badaboom";
    src: url("fonts/badaboom.ttf");
}
@font-face {
    font-family: "badaboom";
    src: url("fonts/badaboom.eot");
}
@font-face {
    font-family: "acme";
    src: url("fonts/acme.ttf");
}
@font-face {
    font-family: "acme";
    src: url("fonts/acme.eot");
}
